<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
		<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<!--<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
	<!--<configSections>
		<section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	</configSections>-->
	<connectionStrings>
		 <!--XML Data Source--><!-- 
		<add name="XmlDataSource"
		     connectionString="Provider=Microsoft.VisualStudio.TestTools.DataSource.XML;
                               Data Source=|DataDirectory|\TestCaseData.xml;
                               XPath=//Data" />

		 --><!--Excel Data Source--><!-- 
		<add name="ExcelDataSource"
		     connectionString="Provider=Microsoft.ACE.OLEDB.12.0;
                               Data Source=|DataDirectory|\TestCaseData.xlsx;
                               Extended Properties='Excel 12.0 Xml;HDR=YES;'" />-->
		
		 <!--CSV Data Source--> 
		<add name="CsvDataSource"
		     connectionString="provider=Microsoft.VisualStudio.TestTools.DataSource.CSV,
                               Data Source=C:\Temp\TestCaseData.csv" />
	</connectionStrings>

	<!--<configSections>
		<section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	<connectionStrings>
		<add name="CsvDataConn"
		     connectionString="C:\Temp\TestCaseData.csv"
		     providerName="Microsoft.VisualStudio.TestTools.DataSource.CSV" />
	</connectionStrings>
	<microsoft.visualstudio.testtools>
		<dataSources>
			<add name="CsvDataSource" connectionString="CsvDataConn" dataAccessMethod="Sequential" dataTableName="Row" />
		</dataSources>
	</microsoft.visualstudio.testtools>-->
	<!--<appSettings>
		--><!-- Below is an example of usage for ExclusionRegEx --><!--
		--><!--<add key="ExclusionRegEx" value=".Exclusions.PublicProperty"/>--><!--
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>-->
</configuration>
